body {
    font-family: 'Roboto', sans-serif;
}


#group {
    width: 900px;
    height: 27px;
    position: absolute;
    left: 270px;
    top: 40px;
    border-radius: 5px;
    box-shadow: 0.5px 0.5px 0.5px 0.5px #999;
}


#customers {
    border-collapse: collapse;
    width: 100%;
    box-shadow: 1px 1px 1px 1px #999;
}

    #customers td, #customers th {
        border: 1px solid #ddd;
        padding: 12px;
    }



    #customers tr:hover {
        background-color: #ddd;
    }

    #customers th {
        padding-top: 12px;
        padding-bottom: 12px;
        text-align: left;
        color: #808DFF;
    }

#Group {
}

#group {
    width: 900px;
    height: 27px;
    position: absolute;
    left: 270px;
    top: 67px;
    border-radius: 5px;
    box-shadow: 0.5px 0.5px 0.5px 0.5px #999;
}



.buttonStyle {
    position: absolute;
    right: 60px;
}

 .buttonStyle button {
        margin: 5px;
        background-color: #1765FF;
        border: none;
        color: white;
        padding: 12px 22px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 13px;
        margin: 4px 2px;
        cursor: pointer;
        border-radius: 5px;
 }

