body {
    font-family: 'Roboto', sans-serif;
}


#group {
    width: 900px;
    height: 27px;
    position: absolute;
    left: 270px;
    top: 40px;
    border-radius: 5px;
    box-shadow: 0.5px 0.5px 0.5px 0.5px #999;
}


#customers {
    border-collapse: collapse;
    width: 100%;
    box-shadow: 1px 1px 1px 1px #999;
}

    #customers td, #customers th {
        border: 1px solid #ddd;
        padding: 12px;
    }



    #customers tr:hover {
        background-color: #ddd;
    }

    #customers th {
        padding-top: 12px;
        padding-bottom: 12px;
        text-align: left;
        color: #808DFF;
    }

 #customers a {
        padding-left: 20px;
        text-decoration: none;
}



.buttonStyle {
    text-align: center;
    display: flex;
}

    .buttonStyle button {
        margin: 5px;
        border: none;
        color: black;
        padding: 15px 32px;
        width: 100%;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        margin: 4px 2px;
        cursor: pointer;
        border-radius: 8px;
    }

.active {
    background-color: #1765FF;
    color: white;
}

.hrtag {
    height: 5px;
    border-width: 0;
    color: #004FEE;
    background-color: #004FEE;
    width:



